In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib as plt
import pdpipe as pdp

In [3]:
yellow_name = "Data/nyc_yellow_taxi"

original_yellow = pd.read_csv(yellow_name+".csv")
yellow = original_yellow
yellow.head()

,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,pickup_location_id,dropoff_location_id,total_amount
0,06-29-13 08:19:47,06-29-13 08:28:17,2,1.70,-73.995376,40.739316,-74.000997,40.721095,NaN,NaN,10.0
1,06-06-13 14:17:18,06-06-13 14:44:42,1,2.30,-73.977356,40.754204,-74.002716,40.734031,NaN,NaN,18.0
2,06-29-13 20:46:00,06-29-13 20:59:00,2,4.58,-73.966770,40.804120,-73.991645,40.758342,NaN,NaN,17.0
3,06-25-13 09:50:00,06-25-13 10:09:00,1,2.84,-73.960547,40.760512,-73.991325,40.751655,NaN,NaN,18.5
4,06-29-13 08:42:00,06-29-13 08:52:00,1,2.63,-74.004345,40.707710,-73.997462,40.736542,NaN,NaN,11.0

In [4]:
pipe = pdp.DropNa(subset=["pickup_longitude","pickup_latitude","dropoff_longitude","dropoff_latitude"])
pipe += pdp.RowDrop({"trip_distance": lambda d : d<=0})

yellow = pipe(yellow)
yellow.head()

,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,pickup_location_id,dropoff_location_id,total_amount
0,06-29-13 08:19:47,06-29-13 08:28:17,2,1.70,-73.995376,40.739316,-74.000997,40.721095,NaN,NaN,10.0
1,06-06-13 14:17:18,06-06-13 14:44:42,1,2.30,-73.977356,40.754204,-74.002716,40.734031,NaN,NaN,18.0
2,06-29-13 20:46:00,06-29-13 20:59:00,2,4.58,-73.966770,40.804120,-73.991645,40.758342,NaN,NaN,17.0
3,06-25-13 09:50:00,06-25-13 10:09:00,1,2.84,-73.960547,40.760512,-73.991325,40.751655,NaN,NaN,18.5
4,06-29-13 08:42:00,06-29-13 08:52:00,1,2.63,-74.004345,40.707710,-73.997462,40.736542,NaN,NaN,11.0

In [5]:
yellow.shape

(4759929, 11)