In [2]:
import pandas as pd
import numpy as np
import math
import matplotlib as plt
import pdpipe as pdp

In [24]:
nyc_name = "Data/nyc_bikeshare"

original_nyc = pd.read_csv(nyc_name+".csv")
nyc = original_nyc
nyc.head()

In [ ]:
pipe = pdp.ColDrop("bikeid")
pipe += pdp.DropNa(subset=["start_station_id","end_station_id","tripduration"])
pipe += pdp.RowDrop({"tripduration": lambda t : t<60})

nyc = pipe(nyc)
nyc.head()

In [12]:
nyc_name_key = "Data/legend/nyc_bikeshare_key"

original_nyc_key = pd.read_csv(nyc_name_key+".csv")
nyc_key = original_nyc_key
nyc_key.head()

,station_id,station_name,station_latitude,station_longitude
0,72,W 52 St & 11 Ave,40.767272,-73.993929
1,79,Franklin St & W Broadway,40.719116,-74.006667
2,82,St James Pl & Pearl St,40.711174,-74.000165
3,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323
4,116,W 17 St & 8 Ave,40.741776,-74.001497

In [13]:
nyc_key.set_index("station_id", inplace=True)

pipe_key = pdp.ColDrop("station_name")

nyc_key = pipe_key(nyc_key)
nyc_key.head()

            station_latitude  station_longitude
station_id
72                 40.767272         -73.993929
79                 40.719116         -74.006667
82                 40.711174         -74.000165
83                 40.683826         -73.976323
116                40.741776         -74.001497

In [22]:
boston_name = "Data/boston_bikeshare"

original_boston = pd.read_csv(boston_name+".csv")
boston = original_boston
boston.head()

,tripduration,starttime,stoptime,start_station_id,end_station_id,bikeid,usertype,birthyear,gender
0,1712,11-30-11 23:58:00,12-01-11 00:26:00,D32005,D32011,B00056,1,NaN,1
1,313,11-30-11 23:56:00,12-01-11 00:01:00,C32008,D32011,B00133,0,NaN,0
2,1111,11-30-11 23:18:00,11-30-11 23:36:00,A32009,D32006,B00471,1,NaN,1
3,1313,11-30-11 23:15:00,11-30-11 23:37:00,A32001,D32005,B00056,1,NaN,1
4,345,11-30-11 22:59:00,11-30-11 23:05:00,B32008,D32006,B00174,1,NaN,1

In [ ]:
boston = pipe(boston)
boston.head()

In [23]:
boston_name_key = "Data/legend/boston_bikeshare_key"

original_boston_key = pd.read_csv(boston_name_key+".csv")
boston_key = original_boston_key

boston_key.set_index("station_id", inplace=True)

boston_key = pipe_key(boston_key)

boston_key_pipe = pdp.ColDrop("total_docks")
boston_key_pipe += pdp.RowDrop({"status": lambda s: s!="Active"})

boston_key = bos_key_pipe(boston_key)
boston_key.head()

            station_latitude  station_longitude district  status
station_id
A32000             42.353391         -71.044571   Boston  Active
A32001             42.353334         -71.137313   Boston  Active
A32002             42.351692         -71.119035   Boston  Active
A32003             42.350406         -71.108279   Boston  Active
A32004             42.338629         -71.106500   Boston  Active