In [4]:
import pandas as pd
import numpy as np
import math
import matplotlib as plt
import pdpipe as pdp
from random import *

In [5]:
nyc_name = "Data/nyc_bikeshare"

original_nyc = pd.read_csv(nyc_name+".csv")
nyc = original_nyc
nyc.head()

,tripduration,starttime,stoptime,start_station_id,end_station_id,bikeid,usertype,birthyear,gender
0,2059,06-01-13 00:00:44,06-01-13 00:35:03,406.0,406.0,19599,0.0,NaN,0
1,1521,06-01-13 00:01:22,06-01-13 00:26:43,2008.0,310.0,15567,1.0,1983.0,1
2,2028,06-01-13 00:01:47,06-01-13 00:35:35,485.0,406.0,18445,0.0,NaN,0
3,1829,06-01-13 00:03:47,06-01-13 00:34:16,265.0,436.0,15234,1.0,1984.0,1
4,899,06-01-13 00:09:25,06-01-13 00:24:24,494.0,494.0,15539,1.0,1967.0,1

In [ ]:
pipe = pdp.ColDrop("bikeid")
pipe += pdp.DropNa(subset=["start_station_id","end_station_id","tripduration"])
pipe += pdp.RowDrop({"tripduration": lambda t : t<60})

nyc = pipe(nyc)
nyc.head()

In [ ]:
nyc_name_key = "Data/legend/nyc_bikeshare_key"

original_nyc_key = pd.read_csv(nyc_name_key+".csv")
nyc_key = original_nyc_key
nyc_key.head()

In [ ]:
nyc_key.set_index("station_id", inplace=True)

pipe_key = pdp.ColDrop("station_name")

nyc_key = pipe_key(nyc_key)
nyc_key.head()

In [ ]:
boston_name = "Data/boston_bikeshare"

original_boston = pd.read_csv(boston_name+".csv")
boston = original_boston
boston.head()

In [ ]:
boston = pipe(boston)
boston.head()

In [ ]:
boston_name_key = "Data/legend/boston_bikeshare_key"

original_boston_key = pd.read_csv(boston_name_key+".csv")
boston_key = original_boston_key

boston_key.set_index("station_id", inplace=True)

boston_key = pipe_key(boston_key)

boston_key_pipe = pdp.ColDrop("total_docks")
boston_key_pipe += pdp.RowDrop({"status": lambda s: s!="Active"})

boston_key = bos_key_pipe(boston_key)
boston_key.head()