In [3]:
import pandas as pd
import numpy as np
import math
import matplotlib as plt
import pdpipe as pdp
from random import *

In [12]:
nyc_name = "Data/nyc_bikeshare"

original_nyc = pd.read_csv(nyc_name+".csv")
nyc = original_nyc
nyc.head()

,tripduration,starttime,stoptime,start_station_id,end_station_id,bikeid,usertype,birthyear,gender
0,2059,06-01-13 00:00:44,06-01-13 00:35:03,406.0,406.0,19599,0.0,NaN,0
1,1521,06-01-13 00:01:22,06-01-13 00:26:43,2008.0,310.0,15567,1.0,1983.0,1
2,2028,06-01-13 00:01:47,06-01-13 00:35:35,485.0,406.0,18445,0.0,NaN,0
3,1829,06-01-13 00:03:47,06-01-13 00:34:16,265.0,436.0,15234,1.0,1984.0,1
4,899,06-01-13 00:09:25,06-01-13 00:24:24,494.0,494.0,15539,1.0,1967.0,1

In [18]:
nyc_sub = nyc.sample(272000)

In [19]:
pipe = pdp.ColDrop("bikeid")
pipe += pdp.DropNa(subset=["start_station_id","end_station_id","tripduration"])
pipe += pdp.RowDrop({"tripduration": lambda t : t<60})

nyc_sub = pipe(nyc_sub)
nyc_sub.head()

,tripduration,starttime,stoptime,start_station_id,end_station_id,usertype,birthyear,gender
13129637,934,06-13-17 12:48:17,06-13-17 13:03:51,3165.0,442.0,1.0,1989.0,1
14072020,625,08-08-17 19:33:27,08-08-17 19:43:52,3142.0,3130.0,1.0,1965.0,1
22419984,769,03-31-19 19:21:01,03-31-19 19:33:50,380.0,327.0,1.0,1968.0,2
5745761,569,08-24-15 16:27:00,08-24-15 16:36:29,329.0,426.0,1.0,1973.0,1
19722485,2487,09-01-18 23:46:23,09-02-18 00:27:51,537.0,3552.0,1.0,1992.0,1

In [20]:
nyc_name_key = "Data/legend/nyc_bikeshare_key"

original_nyc_key = pd.read_csv(nyc_name_key+".csv")
nyc_key = original_nyc_key
nyc_key.head()

,station_id,station_name,station_latitude,station_longitude
0,72,W 52 St & 11 Ave,40.767272,-73.993929
1,79,Franklin St & W Broadway,40.719116,-74.006667
2,82,St James Pl & Pearl St,40.711174,-74.000165
3,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323
4,116,W 17 St & 8 Ave,40.741776,-74.001497

In [21]:
nyc_key.set_index("station_id", inplace=True)

pipe_key = pdp.ColDrop("station_name")

nyc_key = pipe_key(nyc_key)
nyc_key.head()

            station_latitude  station_longitude
station_id
72                 40.767272         -73.993929
79                 40.719116         -74.006667
82                 40.711174         -74.000165
83                 40.683826         -73.976323
116                40.741776         -74.001497

In [22]:
boston_name = "Data/boston_bikeshare"

original_boston = pd.read_csv(boston_name+".csv")
boston = original_boston
boston.head()

,tripduration,starttime,stoptime,start_station_id,end_station_id,bikeid,usertype,birthyear,gender
0,1712,11-30-11 23:58:00,12-01-11 00:26:00,D32005,D32011,B00056,1,NaN,1
1,313,11-30-11 23:56:00,12-01-11 00:01:00,C32008,D32011,B00133,0,NaN,0
2,1111,11-30-11 23:18:00,11-30-11 23:36:00,A32009,D32006,B00471,1,NaN,1
3,1313,11-30-11 23:15:00,11-30-11 23:37:00,A32001,D32005,B00056,1,NaN,1
4,345,11-30-11 22:59:00,11-30-11 23:05:00,B32008,D32006,B00174,1,NaN,1

In [23]:
boston_sub = boston.sample(100000)

In [24]:
boston_sub = pipe(boston_sub)
boston_sub.head()

,tripduration,starttime,stoptime,start_station_id,end_station_id,usertype,birthyear,gender
4297169,1326,06-24-16 18:06:36,06-24-16 18:28:43,D32010,C32028,0,NaN,0
1352590,665,06-20-13 09:08:00,06-20-13 09:19:00,M32002,B32018,1,NaN,1
2258534,1529,09-28-14 11:34:00,09-28-14 12:00:00,M32012,D32016,0,NaN,0
5716681,747,07-25-17 20:13:18,07-25-17 20:25:46,D32005,C32012,1,1990.0,1
3615441,212,09-29-15 10:59:01,09-29-15 11:02:34,M32006,M32005,1,1997.0,1

In [26]:
boston_name_key = "Data/legend/boston_bikeshare_key"

original_boston_key = pd.read_csv(boston_name_key+".csv")
boston_key = original_boston_key

boston_key.set_index("station_id", inplace=True)

boston_key = pipe_key(boston_key)

boston_key_pipe = pdp.ColDrop("total_docks")
boston_key_pipe += pdp.RowDrop({"status": lambda s: s!="Active"})

boston_key = boston_key_pipe(boston_key)
boston_key.head()

            station_latitude  station_longitude district  status
station_id
A32000             42.353391         -71.044571   Boston  Active
A32001             42.353334         -71.137313   Boston  Active
A32002             42.351692         -71.119035   Boston  Active
A32003             42.350406         -71.108279   Boston  Active
A32004             42.338629         -71.106500   Boston  Active